/* ---HEADER--- */

.title {
  min-width: 400px;
  display: inline-block;
  position: relative;
  top: 0;
  width: 100%;
  height: 110px;
  margin-top: 3%;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
h1 {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 2px;
  font-size: 3em;
}
h2 {
  position: relative;
  margin-top: 0px;
  top: 0px;
  font-size: 1.6em;
}

/* ---GENERAL FORMATTING--- */

body {
  background-color: #4D2C3D;
  background: linear-gradient(90deg, #4D2C3D, #AB9353, #155765);
  color: white;
  cursor: default;
  font-family: 'Della Respira', serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.wrapper {
  min-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 440px;
  height: 255px;
  background-color: #57652A;
  border-radius: 10px;
}

/* --- SELECT TEA --- */
.header {
  float: left;
  width: 97%;
  height: 35px;
  font-size: 1.5em;
  padding-left: 3%;
}
.tea_type {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: 0px;
  text-align: center;
  vertical-align: middle;
}
.tea_type li {
  display: inline-block;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 36px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  margin-top: 2px;
}
.left {
  float: left;
  margin-left: 25px;
}
.right {
  float: right;
  margin-right: 25px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

/* --- TIMER DISPLAY --- */
.time {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
}
.time li {
  display: inline;
  text-align: center;
  vertical-align: middle;
  font-family: 'Arapey', serif;
  font-size: 88px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
}
#time_plus, #time_minus {
  font-size: 54px;
}

/* --- START/STOP BUTTONS --- */

.button {
  display: inline-block;
  width: 100%;
  font-size: 45px;
  text-align: center;
  margin-left: 0px;
}

.disp_right {
  float: right;
  margin-right: 30%;
}
.disp_left {
  float: left;
  margin-left: 30%;
}

/* --- SCRIPT.JS HELPERS --- */

.hover:hover {
  opacity: 0.35;
  cursor: pointer;
}